.main-container {
    margin-bottom: 0.67em;

    .first-section {
        text-align: left;
        animation: moveInLeft 1.5s;
        backface-visibility: hidden;

        &__picture {
            width: 100%;
            height: 20em;
            & img {
                width: 100%;
                height: 100%;
                margin-bottom: 1.67em;
            }
        }
        &__title {
            font-size: 2.8em;
            line-height: 1;
            margin-bottom: 1.5625rem;
        }
        &__text {
            font-size: 1em;
            line-height: 2;
            color: $darkGrayishBlue;
            font-weight: 500;
            margin-bottom: 2em;
        }
        &__button {
            width: 12.4em;
            height: 3.2em;
            font-size: 0.95em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1133em;
            background-color: $softRed;
            border: none;
            color: #ffffff;
            margin-bottom: 4.27em;
            &:hover {
                background-color: $veryDarkBlue;
                cursor: pointer;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }

        @keyframes moveInLeft {
            0% {
                opacity: 0;
                transform: translateX(-100rem);
            }

            80% {
                transform: translateX(1rem);
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .second-section {
        background-color: $veryDarkBlue;
        color: $white;
        padding: 2em 1.33em;
        margin-bottom: 4.27em;

        animation: moveInRight 1.5s;
        backface-visibility: hidden;

        &__title {
            font-size: 1.9em;
            color: $softOrange;
            font-weight: 800;
        }
        &__article {
            border-bottom: 1px solid $lightWhite;
            padding: 2em 0;
            &:last-of-type {
                padding-bottom: 0;
                border-bottom: none;
            }
            &__title {
                font-size: 1.4em;
                font-weight: 700;
                margin-bottom: 0.5em;
                &:hover {
                    color: $softOrange;
                    cursor: pointer;
                }
            }
            &__text {
                font-size: 1em;
                letter-spacing: 0.1px;
                color: $lightWhite;
                line-height: 1.8;
            }
        }

        @keyframes moveInRight {
            0% {
                opacity: 0;
                transform: translateX(100rem);
            }

            80% {
                transform: translateX(-1rem);
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .third-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.4em;
        margin-bottom: 2em;

        animation: moveInBottom 1.5s;
        backface-visibility: hidden;

        &__article {
            display: flex;
            column-gap: 1.467em;
            justify-content: space-between;

            &__image {
                height: 100%;
                width: 6.8em;
            }
            & div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__number {
                font-size: 1.9em;
                font-weight: 700;
                color: $grayishBlue;
            }

            &__title {
                font-size: 1.2em;
                color: $veryDarkBlue;
                font-weight: 800;
                &:hover {
                    color: $softRed;
                    cursor: pointer;
                }
            }

            &__text {
                margin-bottom: 0.4em;
                font-size: 0.85em;
                font-weight: 500;
                text-align-last: left;
                color: $darkGrayishBlue;
                line-height: 1.7;
                letter-spacing: 0.073em;
            }
        }

        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(100rem);
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        @media (max-width: 74.99rem) {
            &__article:last-child {
                margin-bottom: 4em;
            }
        }
    }

    @media (min-width: 75rem) {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 4.8em);
        justify-content: center;
        column-gap: 2em;
        margin-bottom: 2em;
        .first-section {
            grid-row: 1 / 5;
            grid-column: 1 / 3;
            .first-section__flex1 {
                display: flex;
                justify-content: space-between;
                .first-section__title {
                    flex: 1;
                    margin-right: 0.6em;
                    font-size: 3.9em;
                    font-weight: 800;
                }
                .first-section__flex2 {
                    flex: 1;
                    .first-section__text {
                        line-height: 1.5;
                        margin-bottom: 2.5em;
                    }
                }
            }
        }
        .second-section {
            grid-column: 3 / 4;
            grid-row: -11 / -3;
            margin-bottom: 4.7em;
        }
        .third-section {
            flex-direction: row;
            grid-row: 9 / 11;
            grid-column: 1 / 4;
            margin-bottom: 0;

            &__article {
                margin-bottom: 1em;
                &__text {
                    margin-bottom: 0;
                }
            }

            .article-1 {
                flex: 1;
            }
            .article-2 {
                flex: 1;
            }
            .article-3 {
                flex: 1;
            }
        }
    }
}
