.container {
    position: relative;
    width: 25em;
    height: 1770px;
    margin: 0 auto;
    padding: 1.73em 1em;
    @media (min-width: 75rem) {
        width: 74.2em;
        height: 100%;
        margin: 2.8em auto 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
