*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  font-size: 15px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
.container {
  position: relative;
  width: 25em;
  height: 1770px;
  margin: 0 auto;
  padding: 1.73em 1em;
}
@media (min-width: 75rem) {
  .container {
    width: 74.2em;
    height: 100%;
    margin: 2.8em auto 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.navigation {
  margin-bottom: 2rem;
  position: relative;
  animation: dropInFromTop 1.5s;
  backface-visibility: hidden;
}
.navigation__checkbox {
  display: none;
}
.navigation__logo {
  fill: #00001a;
  stroke-width: 1px;
  stroke: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navigation__button {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  fill: #00001a;
  stroke-width: 1px;
  stroke: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  right: 0;
  background-image: radial-gradient(hsl(233, 8%, 79%), #fff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, hsl(233, 8%, 79%) 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: hsl(35, 77%, 62%);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.5rem;
  height: 1px;
  background-color: #333;
  display: inline-block;
  bottom: 2rem;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.4rem;
}
.navigation__icon::after {
  top: 0.4rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.5rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
@keyframes dropInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem); /* Starts off-screen, above the view */
  }
  60% {
    opacity: 1;
    transform: translateY(10px); /* Drops past the final position a little */
  }
  100% {
    transform: translateY(0); /* Settles into the final position */
  }
}

.main-container {
  margin-bottom: 0.67em;
}
.main-container .first-section {
  text-align: left;
  animation: moveInLeft 1.5s;
  backface-visibility: hidden;
}
.main-container .first-section__picture {
  width: 100%;
  height: 20em;
}
.main-container .first-section__picture img {
  width: 100%;
  height: 100%;
  margin-bottom: 1.67em;
}
.main-container .first-section__title {
  font-size: 2.8em;
  line-height: 1;
  margin-bottom: 1.5625rem;
}
.main-container .first-section__text {
  font-size: 1em;
  line-height: 2;
  color: hsl(236, 13%, 42%);
  font-weight: 500;
  margin-bottom: 2em;
}
.main-container .first-section__button {
  width: 12.4em;
  height: 3.2em;
  font-size: 0.95em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1133em;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: #ffffff;
  margin-bottom: 4.27em;
}
.main-container .first-section__button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.main-container .first-section__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.main-container .second-section {
  background-color: hsl(240, 100%, 5%);
  color: #ffffff;
  padding: 2em 1.33em;
  margin-bottom: 4.27em;
  animation: moveInRight 1.5s;
  backface-visibility: hidden;
}
.main-container .second-section__title {
  font-size: 1.9em;
  color: hsl(35, 77%, 62%);
  font-weight: 800;
}
.main-container .second-section__article {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2em 0;
}
.main-container .second-section__article:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.main-container .second-section__article__title {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.main-container .second-section__article__title:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.main-container .second-section__article__text {
  font-size: 1em;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.main-container .third-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4em;
  margin-bottom: 2em;
  animation: moveInBottom 1.5s;
  backface-visibility: hidden;
}
.main-container .third-section__article {
  display: flex;
  column-gap: 1.467em;
  justify-content: space-between;
}
.main-container .third-section__article__image {
  height: 100%;
  width: 6.8em;
}
.main-container .third-section__article div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .third-section__article__number {
  font-size: 1.9em;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}
.main-container .third-section__article__title {
  font-size: 1.2em;
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}
.main-container .third-section__article__title:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
.main-container .third-section__article__text {
  margin-bottom: 0.4em;
  font-size: 0.85em;
  font-weight: 500;
  text-align-last: left;
  color: hsl(236, 13%, 42%);
  line-height: 1.7;
  letter-spacing: 0.073em;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media (max-width: 74.99rem) {
  .main-container .third-section__article:last-child {
    margin-bottom: 4em;
  }
}
@media (min-width: 75rem) {
  .main-container {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 4.8em);
    justify-content: center;
    column-gap: 2em;
    margin-bottom: 2em;
  }
  .main-container .first-section {
    grid-row: 1/5;
    grid-column: 1/3;
  }
  .main-container .first-section .first-section__flex1 {
    display: flex;
    justify-content: space-between;
  }
  .main-container .first-section .first-section__flex1 .first-section__title {
    flex: 1;
    margin-right: 0.6em;
    font-size: 3.9em;
    font-weight: 800;
  }
  .main-container .first-section .first-section__flex1 .first-section__flex2 {
    flex: 1;
  }
  .main-container .first-section .first-section__flex1 .first-section__flex2 .first-section__text {
    line-height: 1.5;
    margin-bottom: 2.5em;
  }
  .main-container .second-section {
    grid-column: 3/4;
    grid-row: -11/-3;
    margin-bottom: 4.7em;
  }
  .main-container .third-section {
    flex-direction: row;
    grid-row: 9/11;
    grid-column: 1/4;
    margin-bottom: 0;
  }
  .main-container .third-section__article {
    margin-bottom: 1em;
  }
  .main-container .third-section__article__text {
    margin-bottom: 0;
  }
  .main-container .third-section .article-1 {
    flex: 1;
  }
  .main-container .third-section .article-2 {
    flex: 1;
  }
  .main-container .third-section .article-3 {
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
